.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-item {
  width: 100%;
}

.features-wrapper {
  display: none;
}
@media only screen and (min-width: 768px) {
  .features-list {
    max-width: 768px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    max-width: none;
    flex-wrap: nowrap;
    row-gap: 0;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
  }
}
.features-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #2e2f42;
}
.features-text {
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    text-align: left;
    text-transform: none;
  }
  .features-text {
    font-weight: 400;
  }
}
