.footer {
  padding: 96px 0;
  background: #2e2f42;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.accent {
  color: #4d5ae5;
}
.footer-text {
  max-width: 288px;
  font-weight: 400;
  color: #f4f4fd;
}

.footer-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  text-align: center;
}

.footer-slogan {
  max-width: 288px;
  text-align: center;
}

.footer-wrapper {
  margin: 0;
}

.footer-title {
  color: #fff;
  margin-bottom: 16px;
}
.socials-light {
  gap: 16px;
}

.socials-light .socials-link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.socials-light .socials-link:hover,
.socials-light .socials-link:focus {
  background-color: #31d0aa;
}

.socials-light .socials-link {
  border-radius: 20px;
}

/* Footer form styles */

.footer-wrapper-form {
  width: 100%;
}
.footer-title-form {
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-form-field {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 398px;
}
.footer-form-input {
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  outline: transparent;

  border: 1px solid #fff;
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.footer-form-input:focus {
  border-color: #31d0aa;
}

.footer-form-input::placeholder {
  color: #fff;
}
.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  background: #4d5ae5;

  color: #fff;

  border: none;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}
.button-icon {
  width: 24px;
  height: 20px;

  letter-spacing: 0.04em;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    max-width: 584px;
  }
  .footer-blok {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
  }
  .footer-slogan {
    width: 264px;
    text-align: left;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-wrapper-form {
    width: 100%;
  }
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-form-field {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-blok {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
  }
  .footer-slogan {
    flex: 0 0 264px;
  }
  .footer-wrapper {
    margin-left: 120px;
    margin-right: auto;
  }
  .footer-wrapper-form {
    width: auto;
    margin-left: auto;
  }
  .footer-form {
    flex-wrap: nowrap;
  }
  .footer-form-field {
    width: 264px;
  }
}
